<nav class="green darken-2">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo white-text text-darken-2"><img class='logo' src="assets/dices.png"/>Lotto</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="investor">Investidor</a></li>
      <li><a href="faq">Faq</a></li>
      <li><a href="#github">Github</a></li>
      <li class="metamask green darken-3"><a (click)='doLogin()'><img src="assets/metamask.png"/> Login </a></li>
    </ul>
  </div>
</nav>