<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Lotto</h5>
        <p class="grey-text text-lighten-4">
          This project is a gambling game with solidity, similar a MegaSena®, principal lottery in Brazil, but here the system is totaly descentralize. To generate random number we follow this tutorial <a href="https://medium.com/@promentol/lottery-smart-contract-can-we-generate-random-numbers-in-solidity-4f586a152b27">Lottery Smart Contract: Can we generate random numbers in Solidity?</a>. If you want read the contract just look in our github.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Investor</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Faq</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contract</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    © 2020 Copyright Lotto<br/>
    Developer with ❤️ in Hell de Janeiro
    </div>
  </div>
</footer>